extends demo

block styles
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/angular-mn-option/master/docs/vendor.css')

block scripts
  script(src='https://rawgit.com/minimalist-components/angular-mn-option/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/angular-mn-option/master/dist/angular-mn-option.js')
